acquisitions.dtd

<!ELEMENT Frames (Frame)*>
<!ELEMENT Frame (Acquisition)*>
<!ATTLIST Frame time CDATA #REQUIRED
                number CDATA #REQUIRED>
<!ELEMENT Acquisition EMPTY>
<!ATTLIST Acquisition x      CDATA #REQUIRED
                      y      CDATA #REQUIRED
                      w      CDATA #REQUIRED
                      h      CDATA #REQUIRED
	              t      CDATA #REQUIRED>

